# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-Learn
5. Caret
6. TensorFlow
7. PyTorch
8. NLTK

Some of the commonly used tools used by Data Scientists include:
    
| Data Science Tools |
| ------------------ |
| PostgreSQL         |
| Hadoop             |
| Jupyter            |
| RStudio            |
| Apache Spark SQL   |
| Apache Airflow     |
| Apache Superset    |
| Kubernetes         |
| Git                |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# this will convert 200 minutes into hours by dividing by 60

minutes = 200
hours = 200 / 60
print(f"{minutes} minutes is {hours} hours")

200 minutes is 3.3333333333333335 hours

**Objectives:**

* List some popular languages that Data Scientists use
* List some common libraries that Data Scientists use
* List some popular tools that Data Scientists use
* Show evaluation of some simple Python expressions in a Jupyter notebook

## Author

Paul Webb